<!-- start hero image -->

<section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div>
                <img class="hero-image-logo col-10" src="/images/hero_logo.png"/>
            </div>
        </div>
    </div>
</section>

<!-- end hero image -->

<!-- start about section -->

<div class="row justify-content-center about-section-title bg-light">
    <h1 class="about-title display-4 col-12">
        What is Exchange-A-Gram?
    </h1>
</div>

<div class="row justify-content-center about-section-description bg-light">
    <p class="about-description col-12 col-md-10 col-lg-8 col-xl-8">
        Exchange-A-Gram is a social exchange application.
        Users can put their photos out there on the line
        and create exchanges without needing to say anything.
        Eventually people are exchanging ideas.
    </p>
</div>


<!-- end about section -->

<!-- start how it works section -->

<div class="row justify-content-center HIW-section-title bg-primary">
    <h1 class="HIW-title display-4 col-12 text-light">
        How It Works
    </h1>
</div>

<div class="row card bg-primary mx-auto border-0 ">
    
    <span class="circle card-title text-center mx-auto text-primary display-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">1</span>
    <div class="align-center">
        <p class="card-text text-center mx-auto mb-3 align-center text-white">Take a photo instantaneously (or not instantaneously)</p>
    </div>
    
    
    <span class="circle card-title text-center mx-auto text-primary display-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">2</span>
    <div class="align-center">
        <p class="card-text text-center mx-auto mb-3 align-center text-white">Put that image out there on the line.</p>
    </div>
   



   
    <span class="circle card-title text-center mx-auto text-primary display-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">3</span>
    <div class="align-center">
        <p class="card-text text-center mx-auto mb-3 align-center text-white">Like and comment on images other users have posted.</p>
    </div>
 
</div>

<!-- end how it works section -->