<!-- start hero image -->

<section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div>
                <img class="hero-image-logo" src="/images/hero_logo.png"/>
            </div>
        </div>
    </div>
</section>

<!-- end hero image -->

<!-- start about section -->

<div class="row justify-content-center about-section-title bg-light">
    <h1 class="about-title display-4 col-12">
        What is Exchange-A-Gram?
    </h1>
</div>

<div class="row justify-content-center about-section-description bg-light">
    <p class="about-description col col-md-8 col-lg-6 col-xl-6">
        Exchange-A-Gram is a social exchange application.
        Users can put their photos out there on the line
        and create exchanges without needing to say anything.
        Eventually people are exchanging ideas.
    </p>
</div>


<!-- end about section -->

<!-- start how it works section -->

<div class="row justify-content-center HIW-section-title bg-primary">
    <h1 class="HIW-title display-4 col-12 text-light">
        How It Works
    </h1>
</div>

<div class="bg-primary text-light">
    <div class="step col-12 col-lg-4">
        <h1 class="step-number display-4">1</h1>
        <h1 class="step-description display-4">Take a photo instantaneously (or not instantaneously)</h1>
    </div>
    <div class="step col-12 col-lg-4">
        <h1 class="step-number display-4">2</h1>
        <h1 class="step-description display-4">Put that image out there on the line</h1>
    </div>
    <div class="step col-12 col-lg-4">
        <h1 class="step-number display-4">3</h1>
        <h1 class="step-description display-4">Like and comment on images other users have posted</h1>
    </div>         
</div>

<!-- end how it works section -->